doctype HTML
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE-edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="theme-color" content="#9A004B")
    title Overlay Control Panel (LoL)
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js")
    script(src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js")
    script(src="assets/js/app.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.min.js")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet" href="//bootswatch.com/lumen/bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/master.css")

html(ng-app="esport16FallLoLControl")
    body
        .main-container(ui-view)