.center-flex
    .afk-card.center-flex.loading
        .text-container
            h1.afk-title {{data.afkMessage.title}}
            p.afk-text: strong {{data.afkMessage.text}}
.game-logo-container.center-flex.loading
    img.logo.dota.loading(src="assets/img/dota2.png")
    img.logo.lol.loading(src="assets/img/ow.png")
    img.logo.ow.loading(src="assets/img/lol.png")